$gap: 28px;
$mobile: 320px;
$tablet: 769px;
$desktop: 924px;
$desktop-md: 1152px + (2 * $gap);
$desktop-lg: 1344px + (2 * $gap);
$max-width: 1080px;
$gutter: 24px;

$breakpoints: (
  mobile: $mobile,
  tablet: $tablet,
  desktop: $desktop,
  desktop-md: $desktop-md,
  desktop-lg: $desktop-lg
);

$breaks: "320px" "768px" "mb", "769px" "924px" "tb", "925px" "2000px" "dt";

$sizes: ("320px" : "mb", "769px": "tb", "924px": "dt");

$breakpoints_raw: ( $mobile, $tablet, $desktop, $desktop-md, $desktop-lg );