// Display NONE
@each $break, $viewport, $size in $breaks {
    @include bp(#{$break}, #{$viewport}) {
        .u-dn-#{$size} { 
            display: none;
        }
    }
}

@each $device, $size in $sizes {
    
    @include maxpoint(#{$device}) {
        
        .u-df-#{$size} { display: flex; }
        
        .u-df-#{$size}-fd-r { flex-direction: row; }
        .u-df-#{$size}-fd-rr { flex-direction: row-reverse; }
        .u-df-#{$size}-fd-c { flex-direction: column; }
        .u-df-#{$size}-fd-cr { flex-direction: column-reverse; }
        
        .u-df-#{$size}-jc-s { justify-content: start; }
        .u-df-#{$size}-jc-e { justify-content: end; }
        .u-df-#{$size}-jc-c { justify-content: center; }
        .u-df-#{$size}-jc-sb { justify-content: space-between; }
        .u-df-#{$size}-jc-sa { justify-content: space-around; }
        .u-df-#{$size}-jc-se { justify-content: space-evenly; }
        
        .u-df-#{$size}-nw { flex-wrap: nowrap; }
        .u-df-#{$size}-w { flex-wrap: wrap; }
        .u-df-#{$size}-wr { flex-wrap: wrap-reverse; }
        
        .u-df-#{$size}-ac-s { align-content: flex-start; }
        .u-df-#{$size}-ac-e { align-content: flex-end; }
        .u-df-#{$size}-ac-c { align-content: center; }
        .u-df-#{$size}-ac-sa { align-content: space-around; }
        .u-df-#{$size}-ac-str { align-content: stretch; }
        
        .u-df-#{$size}-as-s { align-self: flex-start; }
        .u-df-#{$size}-as-e { align-self: flex-end; }
        .u-df-#{$size}-as-c { align-self: center; }
        .u-df-#{$size}-as-b { align-self: baseline; }
        .u-df-#{$size}-as-str { align-self: stretch; }
        
        .u-ta-#{$size}-c { text-align: center; }
        .u-ta-#{$size}-l { text-align: left; }
        .u-ta-#{$size}-r { text-align: right; }
        .u-ta-#{$size}-j { text-align: justify; }
        

    }
    
    @include maxpoint(#{$device}) {
        @for $i from 0 through 50 {
            @if $i % 5 == 0 {
                // padding
                .#{$size}-p-#{$i} { padding: #{$i}px; }
                .#{$size}-pt-#{$i} { padding-top: #{$i}px; }
                .#{$size}-pb-#{$i} { padding-bottom: #{$i}px; }
                .#{$size}-pl-#{$i} { padding-left: #{$i}px; }
                .#{$size}-pr-#{$i} { padding-right: #{$i}px; }
                // margin
                .#{$size}-m-#{$i} { margin: #{$i}px; }
                .#{$size}-mt-#{$i} { margin-top: #{$i}px; }
                .#{$size}-mb-#{$i} { margin-bottom: #{$i}px; }
                .#{$size}-ml-#{$i} { margin-left: #{$i}px; }
                .#{$size}-mr-#{$i} { margin-right: #{$i}px; }
            }
        }
    }
}

.img-responsive {
    width: auto;
    max-width: 100%;
    height: auto;
    &--full {
        @extend .img-responsive;
        width: 100%;
    }
}
